.logo > img {
  width: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
}
.nav > ul {
  display: flex;
  padding: 5px;
  list-style: none;
}

.nav > ul > li {
  margin: 5px;
}

.searchBar {
  margin: 15px;
}
.card {
  width: 200px;
  background-color: aliceblue;
  padding: 5px;
  margin: 15px;
}

.card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.resLogo {
  width: 100%;
}

.resContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}
.cardContent {
  text-align: justify;
  text-wrap: wrap;
}

.footer {
  margin-top: 25px;
  text-align: center;
}
